.a9s-annotationlayer .a9s-formatter-el,
.a9s-annotationlayer .a9s-formatter-el foreignObject {
  overflow: visible;
  pointer-events: none;
}

.a9s-annotationlayer .a9s-formatter-el foreignObject .a8s-shape-label-wrapper {
  position: relative;
  padding-bottom: 6.5px;
  transform: translateY(-100%);
}

.a9s-annotationlayer .a9s-formatter-el foreignObject .a8s-shape-label-wrapper .a8s-shape-label {
  display: table;
  padding: 3px 5px;
  font-size: 14px;
  white-space: nowrap;
  background-color: rgb(255 255 255 / 85%);
  border-radius: 3px;
}
